<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recuperar contraseña</ion-title>    
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <img src="../../../assets/icon/candado azul.png" width="150px" alt="">
  </div>

  <div class="recovery">
    <ion-list lines="none" class="form fade-in">
      <ion-item>
        <ion-input aria-label="Light input" color="light" type="text" label="Nombre de usuario" labelPlacement="stacked" placeholder="Ingrese su nombre de usuario">
          <ion-icon slot="start" name="person"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>
  
    <div class="ion-text-center fade-in">
      <ion-button class="btnLogin"  expand="block" routerLink="/login">Recuperar</ion-button>
    </div>
  </div>
  
  
</ion-content>

