<ion-content>
  <ion-card class="perfil">
    <ion-card-content>
        <p id="nombre_usuario">¡Bienvenido, {{usuario.nombre | titlecase}}!</p>
        <div class="avatar-container">
          <ion-avatar>
            <!-- Mostrar la imagen solo si la propiedad usuario.image está definida -->
            <div *ngIf="usuario.image">
              <img [src]="usuario.image" alt="Imagen de Pokémon" />
            </div>

            <!-- Si no hay imagen disponible -->
            <div *ngIf="!usuario.image">
              <p>No hay imagen disponible</p>
            </div>
          </ion-avatar>
        </div>
        
        <!-- Input oculto -->
        <input type="file" (change)="onFileSelected($event)" accept="image/*" id="file-input" #fileInput style="display: none;" />
      
      <!-- Botón que actúa como label -->
        <ion-button expand="full" (click)="fileInput.click()">
        <ion-icon name="add-circle-outline"></ion-icon> Seleccionar imagen
      </ion-button>

        <br>
        <p class="campos">Email Duoc</p>
        <p>{{usuario.email}}</p>
        <br>
        <p class="campos">Nombre Completo</p>
        <p>{{usuario.nombre | titlecase}} {{usuario.apellidos | titlecase}}</p>
        <br>
        <p class="campos">Fecha de Nacimiento</p>
        <p>{{usuario.fechaNacimiento}}</p>
        <br>
        <p class="campos">Género</p>
        <p>{{usuario.genero}}</p>
        <br>
        <p class="campos">Tiene vehículo</p>
        <p>{{usuario.tiene_vehiculo | titlecase}}</p>
        <br>
        <div *ngIf="usuario?.tiene_vehiculo === 'si'">
          <p class="campos">Marca</p>
          <p>{{ usuario?.nombre_marca | titlecase }}</p>
          <br>
          <p class="campos">Modelo</p>
          <p>{{ usuario?.nombre_modelo }}</p>
          <br>
          <p class="campos">Capacidad</p>
          <p>{{ usuario?.capacidad }}</p>
          <br>
          <p class="campos">Patente</p>
          <p>{{ usuario?.patente }}</p>
        </div>
        <br>
        <div>
          <p>Código QR del Usuario</p>
          <qrcode
            [qrdata]="usuario.rut"
            [allowEmptyString]="true"
            [ariaLabel]="'QR Code image with the following content...'"
            [cssClass]="'center'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'"
            [imageSrc]="'./assets/icon/logo.png'"
            [imageHeight]="75"
            [imageWidth]="75"
            [margin]="4"
            [scale]="1"
            [title]="'A custom title attribute'"
            [width]="300"
          ></qrcode>
        </div>
    </ion-card-content>
  </ion-card>


  <div class="profile-container">
    <ion-button class="btnModify" expand="block" fill="outline" (click)="editProfile()">
      <ion-icon name="man-outline"></ion-icon>Editar perfil
    </ion-button>
    <br>
    
    <ion-card *ngIf="isEditing" class="perfil">
      <ion-card-content>
        <form #miFormulario="ngForm" (ngSubmit)="saveProfile()" novalidate>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input 
              [(ngModel)]="usuario.nombre" 
              name="nombre" 
              type="text" 
              minlength="3" 
              required>
            </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Email Duoc</ion-label>
            <ion-input 
              [(ngModel)]="usuario.email" 
              name="email" 
              type="email" 
              required
              pattern="^[a-zA-Z0-9._%+-]+@duocuc\.cl$">
            </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input 
              [(ngModel)]="usuario.apellidos" 
              name="apellidos" 
              minlength="3" 
              maxlength="20"
              required>
            </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Fecha de Nacimiento</ion-label>
            <ion-input 
              [(ngModel)]="usuario.fechaNacimiento" 
              name="fechaNacimiento" 
              type="date" 
              required 
              (change)="fechaNacimientoValidator()">
            </ion-input>
            <div *ngIf="fechaInvalida">
              <small>Debes ser mayor o igual a 17 años.</small>
            </div>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Género</ion-label>
            <ion-select 
              [(ngModel)]="usuario.genero" 
              name="genero" 
              required>
              <ion-select-option value="Masculino">Masculino</ion-select-option>
              <ion-select-option value="Femenino">Femenino</ion-select-option>
              <ion-select-option value="Otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item>
            <ion-label>¿Tiene Vehículo?</ion-label>
            <ion-radio-group [(ngModel)]="usuario.tiene_vehiculo" name="tieneVehiculo" required>
              <ion-radio value="si">Sí</ion-radio>
              <ion-radio value="no">No</ion-radio>
            </ion-radio-group>
          </ion-item>

          <ion-item *ngIf="usuario.tiene_vehiculo === 'si'">
            <ion-input label="Marca" labelPlacement="stacked"
              [(ngModel)]="usuario.nombre_marca" 
              name="marca"
              (ngModelChange)="marcaInvalida = MarcaAuto(usuario.nombre_marca)">
            </ion-input>
            <ion-note *ngIf="marcaInvalida">
              La marca ingresada no es válida.
            </ion-note>
          </ion-item>
          
          <ion-item *ngIf="usuario.tiene_vehiculo === 'si'">
            <ion-input label="capacidad" labelPlacement="stacked"
              [(ngModel)]="usuario.capacidad" 
              type="number" 
              name="capacidad" 
              (ngModelChange)="capacidadInvalida = !capacidadValidator(usuario.capacidad)" required>
            </ion-input>
            <ion-note *ngIf="capacidadInvalida">
              La capacidad debe ser entre 1 y 15.
            </ion-note>
          </ion-item>
          
          <ion-item *ngIf="usuario.tiene_vehiculo === 'si'">
            <ion-input [(ngModel)]="usuario.nombre_modelo" label="Modelo" name="nombre_modelo"  name="nombre_modelo" labelPlacement="stacked" type="text" minlength="3"  required></ion-input>
          </ion-item>
          
          <ion-item *ngIf="usuario.tiene_vehiculo === 'si'">
            <ion-input label="Patente" labelPlacement="stacked"
              [(ngModel)]="usuario.patente" 
              name="patente"
              (ngModelChange)="patenteInvalida = validarPatente(usuario.patente)" required>
            </ion-input>
            <ion-note *ngIf="patenteInvalida">
              Formato de patente inválido. Debe ser BB-CC-12.
            </ion-note>
          </ion-item>
          <ion-button 
          expand="full" 
          type="submit" 
          [disabled]="!miFormulario.valid || fechaInvalida || capacidadInvalida || patenteInvalida || marcaInvalida">
          Guardar
        </ion-button>


        </form>
      </ion-card-content>
    </ion-card>
    
    <ion-button expand="block" fill="outline" (click)="toggleHistorial()">
      <ion-icon name="newspaper-outline"></ion-icon>Historial de viajes
    </ion-button>
    
    <ion-card *ngIf="botonHistorial">
      <table>
        <tr>
          <th>Destino</th>
          <th>Estado</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let viaje of historial">
          <td>{{ viaje.destino }}</td>
          <td>{{ viaje.estado_viaje }}</td>
          <td>{{ viaje.precio | currency: 'CLP' }}</td>
        </tr>
      </table>
    </ion-card>

    <br>
    <ion-button class="btnLogout" expand="block" fill="outline" (click)="logout()"><ion-icon name="log-out-outline" slot="start"></ion-icon>Cerrar Sesión</ion-button>
  </div>
</ion-content>

<ion-footer>
  <p>© Derechos de autor TravelST</p>
  <p>Desarrollado por estudiantes de Ingeniería en Informática</p>
</ion-footer>