<ion-content>
  <ion-card>
    <ion-card-content>
        <p>Hola mundo</p>
    </ion-card-content>
  </ion-card>

  <div class="profile-container">
    <br>
    <ion-button class="btnModify" expand="block" fill="outline"><ion-icon name="man-outline"></ion-icon>Editar perfil</ion-button>
    <br>
    <ion-button class="btnConfig" expand="block" fill="outline"><ion-icon name="settings-outline" slot="start"></ion-icon>Configuración</ion-button>
    <br>
    <ion-button class="btnLogout" expand="block" fill="outline"><ion-icon name="log-out-outline" slot="start"></ion-icon>Cerrar Sesión</ion-button>
    <p>Derechos de autor TravelST</p>
    <p>Desarrollado por estudiantes de Ingeniería en Informática</p>
  </div>
</ion-content>