ion-button {
    width: 92%;
    margin: auto;
    --border-radius: 8px;  /* Radio del borde */
}

ion-icon {
    margin-right: 10px;
}

#nombre_usuario {
    text-align: center;
    font-size: 25px;
}

ion-footer {
    font-size: 10px;
    position: relative;
    margin: 10px;
}