ion-button {
    width: 92%;
    margin: auto;
    --border-radius: 8px;  /* Radio del borde */
}

ion-icon {
    margin-right: 10px;
}

#nombre_usuario {
    text-align: center;
    font-size: 25px;
}

ion-footer {
    font-size: 10px;
    position: relative;
    margin: 10px;
}

ion-card{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

ion-avatar {
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
}

ion-avatar img {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
    height: 100%; /* Mantiene la imagen dentro del contenedor */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
}

.campos{
    font-weight: bold;
}

.custom-file-button ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  ion-card table {
    border-collapse: collapse; /* Elimina espacios entre celdas */
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el ion-card */
    border-radius: 8px;
}

ion-card table th, ion-card table td {
    padding: 12px 15px; /* Espacio dentro de las celdas */
    text-align: left;
    border: 1px solid #ddd; /* Borde de celdas */
}

ion-card table th {
    background-color: #4CAF50; /* Fondo del encabezado */
    color: white; /* Color del texto */
    font-weight: bold;
    text-transform: uppercase;
}

ion-card table tr:nth-child(even) {
    background-color: #f9f9f9; /* Color alterno en filas pares */
}

ion-card table tr:hover {
    background-color: #f1f1f1; /* Color al pasar el ratón */
}
