<ion-content>
  <div class="register">
    
    <form [formGroup]="usuario" (ngSubmit)="registrar()">
      <ion-item>
        <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="stacked" placeholder="Ingrese su RUT con guion" aria-label="Light input" color="light"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked" placeholder="Ingrese su nombre" aria-label="Light input" color="light"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="apellidos" type="text" label="Apellidos" labelPlacement="stacked" placeholder="Ingrese apellidos" aria-label="Light input" color="light"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="genero"  label="Género" label-placement="stacked" placeholder="Seleccionar" aria-label="Light input" color="light">
          <ion-select-option>Masculino</ion-select-option>
          <ion-select-option>Femenino</ion-select-option>
          <ion-select-option>Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" label="Email" type="email" labelPlacement="stacked" placeholder="Ingrese su correo electronico" aria-label="Light input" color="light" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="stacked" placeholder="Ingrese contraseña" aria-label="Light input" color="light">
          <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label>¿Tiene Vehiculo?</ion-label>
        <ion-radio-group formControlName="tiene_vehiculo">
          <ion-radio value="si">Si</ion-radio>
          <ion-radio value="no">No</ion-radio>
        </ion-radio-group>
      </ion-item>
      <ion-item *ngIf="usuario.controls.tiene_vehiculo.value=='si'">
      <ion-input  formControlName="nombre_modelo" type="text" label="Modelo" labelPlacement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de usuario</ion-label>
      <ion-radio-group formControlName="tipo_usuario">
        <ion-radio value="comun">Comun</ion-radio>
        <ion-radio value="administrador">Administrador</ion-radio>
      </ion-radio-group>
    </ion-item>
      
      <ion-button [disabled]="usuario.invalid" type="submit" size="block" color="warning">REGISTRAR</ion-button>
      <ion-button [disabled]="botonModificar || usuario.invalid" (click)="modificar()" size="block" color="dark">MODIFICAR</ion-button>
      <ion-button type="reset" size="block" color="secondary">LIMPIAR</ion-button>
      
      
    </form>
  </div>
    
  <div *ngIf="usuarios.length > 0; else noHayUsuarios">
    <ion-list *ngFor="let usuario of usuarios">  
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option (click)="buscar(usuario.rut)" color="warning">Buscar</ion-item-option>
        </ion-item-options>
        <ion-item>{{usuario.rut}} - {{usuario.nombre}}</ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="eliminar(usuario.rut)" color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ng-template #noHayUsuarios>
    <h1>No hay usuarios</h1>
  </ng-template>




</ion-content>