#map {
    height: 50vh;
    width: 100%;
}

form {
    margin-top: 20px;
}

ion-input {
    width: 90%;
    margin: auto;
}

ion-button {
    width: 90%;
    margin: auto;
}

.toggle-container {
    margin: 5px;
    position: absolute;
    left: 50%;
    width: 60px; 
    height: 35px; 
    border-radius: 20px; 
    background-color: #ccc; 
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s; 
    z-index: 1000; 
  }
  
.toggle-container:hover {
  background-color: #bbb; 
}
  
.toggle-circle {
    width: 28px; 
    height: 28px; 
    background-color: #0d5bc2; 
    border-radius: 50%; 
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.toggle-left {
    transform: translateX(70%);
}

@import url('node_modules/leaflet/dist/leaflet.css');