<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Detalle del viaje</ion-title>
      <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <div class="toggle-container" (click)="toggleDarkMode()" >
        <div class="toggle-circle" [ngClass]="{'toggle-left': isDarkMode}" ></div>
      </div>
    <div id="map"></div>
    <form>
        <ion-input label="Conductor" [(ngModel)]="conductor" labelPlacement="stacked" 
            fill="outline" name="conductor" readonly="true"></ion-input>
        <br>
        <ion-input label="Asientos Disponibles" [(ngModel)]="asientos_disponibles" labelPlacement="stacked"
            fill="outline" name="asientos_disponibles"
            readonly="true"></ion-input>
        <br>
        <ion-input label="Destino" [(ngModel)]="destino" labelPlacement="stacked"
            fill="outline" name="destino" readonly="true"></ion-input>
        <br>
        <ion-input label="Distancia (metros)" [(ngModel)]="distancia_metros" labelPlacement="stacked"
            fill="outline" name="distancia_metros" readonly="true"></ion-input>
        <br>
        <ion-input label="Tiempo (minutos)" [(ngModel)]="tiempo_minutos" labelPlacement="stacked"
            fill="outline" name="tiempo_minutos" readonly="true"></ion-input>
        <br>
        <ion-input label="Hora comienzo" [(ngModel)]="hora_comienzo" labelPlacement="stacked"
            fill="outline" name="hora_comienzo" readonly="true"></ion-input>
        <br>
        <ion-input label="Precio" [(ngModel)]="precio" labelPlacement="stacked" fill="outline"
            name="precio" readonly="true"></ion-input>
        <br>
    </form>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</ion-content>