<ion-content>
  <ion-input label="Latitud" [(ngModel)]="latitud"></ion-input>
  <ion-input label="Longitud" [(ngModel)]="longitud"></ion-input>
  <ion-input label="Dirección" [(ngModel)]="direccion"></ion-input>
  <ion-input label="Distancia (metros)" [(ngModel)]="distancia_metros"></ion-input>
  <ion-input label="Tiempo (segundos)" [(ngModel)]="tiempo_segundos"></ion-input>

  <div id="map"></div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">

    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="layers-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="airplane-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>