.txtRegister {
    text-align: center;
}

ion-input {
    width: 92%;
    margin: auto;
}

ion-button {
    width: 92%;
    margin: auto;
}

.txtTitulo {
    text-align: center;
    font-weight: bold;
}