<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <img src="../../../assets/icon/registro.png" width="200px">
  </div>

  <div class="register">
    <ion-list lines="none" class="form fade-in">
      <form [formGroup]="usuario" (ngSubmit)="registrar()">
        <ion-item>
          <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="stacked" placeholder="Ingrese su RUT con guion" aria-label="Light input" color="light"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked" placeholder="Ingrese su nombre" aria-label="Light input" color="light"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="apellidos" type="text" label="Apellidos" labelPlacement="stacked" placeholder="Ingrese apellidos" aria-label="Light input" color="light"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select formControlName="genero"  label="Género" label-placement="stacked" placeholder="Seleccionar" aria-label="Light input" color="light">
            <ion-select-option>Masculino</ion-select-option>
            <ion-select-option>Femenino</ion-select-option>
            <ion-select-option>Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input formControlName="usuario" type="text" label="Usuario" labelPlacement="stacked" placeholder="Ingrese el nombre de usuario" aria-label="Light input" color="light"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" label="Email" type="email" labelPlacement="stacked" placeholder="Ingrese su correo electronico" aria-label="Light input" color="light" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="stacked" placeholder="Ingrese contraseña" aria-label="Light input" color="light">
            <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Confirmar Contraseña" labelPlacement="stacked" placeholder="Ingrese de nuevo la contraseña" aria-label="Light input" color="light">
            <ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button type="submit" class="btnLogin"  expand="block" >Registrar</ion-button>
      </form>
    </ion-list>
    
  </div>
    

<!--test
<p>{{usuario.value | json}}</p>  
-->
  


</ion-content>


<!--  NO BORRAR
  <ion-list>
    <ion-item>
      <ion-select aria-label="Género" value="Género">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  -->