<ion-header>
  <ion-toolbar color="primary">
    <p slot="end">Bienvenido: {{usuario.nombre | titlecase}} </p>
    <ion-title>TravelST</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">

      <ion-tab-button tab="reservas">
        <ion-icon name="map-sharp"></ion-icon>
      </ion-tab-button>
      
       <!-- Ocultar el botón si el usuario es estudiante -->
      <ion-tab-button tab="administrar" *ngIf="usuarioService.getUsuarioAutenticado()?.tipo_usuario !== 'estudiante'">
        <ion-icon name="key-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>